<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <title>To Do List</title>
    <style>
      .button.is-danger {
        border-radius: 5px !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="column">
        <h1 class="title has-text-centered">To Do List</h1>
        <div id="app">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input
                class="input"
                type="text"
                placeholder="Add a new task"
                v-model="newTodo"
              />
              <br><br>
              <div class="columns is-centered">
                <div class="column">
                  <table class="table is-bordered is-fullwidth">
                    <thead>
                      <tr class="is-info">
                        <th class="has-text-centered">Task</th>
                        <th class="has-text-centered">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="todo in todos" :key="todo" class="list-item">
                        <td class="has-text-centered">{{ todo }}</td>
                        <td class="has-text-centered">
                          <button class="button is-danger" @click="removeTodo(todos.indexOf(todo))">Clear</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="control">
              <button class="button is-primary" @click="addTodo">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.js"></script>
<script>
  const { createApp, ref } = Vue;
  createApp({
    setup() {
      const todos = ref([]);
      const newTodo = ref("");

      function addTodo() {
        if (newTodo.value.trim() !== '') {
          todos.value.push(newTodo.value);
          newTodo.value = '';
        }
      }

      function removeTodo(index) {
        todos.value.splice(index, 1);
      }

      return {
        todos,
        newTodo,
        addTodo,
        removeTodo
      };
    },
  }).mount("#app");
</script>
  </body>
</html>
